// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #FBAB55;
$green: #4FB571;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-brown-pb: #502703;
$brown-pb: #986535;
