// Define variables for your color scheme
$pau-blue: #0057e2;
$pau-light-blue: #23ccff;
$pau-orange: #ff9100;
$pau-green: #00c64f;
$pau-red: #f4364c;
$pau-pink: #f6004c;
$pau-purple: #7f2fa5;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #FBAB55;
$green: #4FB571;
$dark-green: #56c37b;
$grass-green: #408A4E;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-brown-pb: #502703;
$brown-pb: #986535;
$yellow-pb: #ffcb00;
$red-pb: #ff6b6b;
$gray-pb: #cec5c5;

// colors for bourse verte
$purple-pb: #0000ff69;
$light-green-pb: #6ff46f85;
$light-yellow-pb: #f9e96685;
$light-orange-pb: #f98f6685;
