version: 2.1
orbs:
  ruby: circleci/ruby@0.1.2

defaults: &defaults
  working_directory: ~/tps
  docker:
    - image: circleci/ruby:2.6.3-stretch-node
    - image: circleci/postgres:11.5
      environment:
        POSTGRES_USER: tps_test
        POSTGRES_PASSWORD: tps_test
        POSTGRES_DB: tps_test

bundle_install: &bundle_install
  run:
    name: install dependencies
    command: |
      gem update --system
      gem install bundler

webpacker_precompile: &webpacker_precompile
  run:
    environment:
      RAILS_ENV: test
    name: Precompile Webpack assets
    command: bin/webpack

yarn_install: &yarn_install
  run:
    name: Install JS Dependencies
    command: yarn install --frozen-lockfile --non-interactive || yarn install --frozen-lockfile --non-interactive

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - *bundle_install
      - ruby/bundle-install
      - *yarn_install
      - *webpacker_precompile
  test:
    <<: *defaults
    parallelism: 3
    steps:
      - checkout
      - *bundle_install
      - ruby/bundle-install
      - *yarn_install
      - *webpacker_precompile
      - run:
          environment:
            DATABASE_URL: "postgres://tps_test@localhost:5432/tps_test"
          name: Create Database
          command: bundle exec rake db:create db:schema:load db:migrate RAILS_ENV=test

      - run:
          environment:
            DATABASE_URL: "postgres://tps_test@localhost:5432/tps_test"
          name: Run RSPEC
          command: |
            COMMAND="bundle exec rspec"
            echo $COMMAND
            eval $COMMAND

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
