<p>Bonjour <%= @user.first_name + ' ' + @user.last_name %>, </p>
<p></p>
<p>Vous avez récement signalé un contenu sur notre plateforme et nous vous en remercions.</p>
<p>Nos équipes ont reçu un mail contenant le message signalé.</p>
<p>Par souci d'anonymat, votre nom n'apparait pas dans le mail qui leur a été envoyé.</p>
<p>N'hésitez pas nous contacter directement en répondant à ce mail s'il vous semble que ce soit necessaire..</p>
<p></p>
<p>Cordialement,</p>
<p>L'Equipe Poubelles Battle</p>
