<h4>Bonjour <%= @donvert.donneur_name.capitalize %></h4>
<p>Merci pour votre proposition de don !</p>
<p>Vous allez probablement être contacter rapidement par mail.</p>
<h5>Pour suivre votre don</h5>
<p>Sachez qu'une fois que vous aurez trouvé une personne intéressée, vous aurez la possibilité de marquer ce don comme "pourvu" afin de ne plus être contacté.</p>
<p>Pour ce faire, il suffira de cliquer sur ce <%= link_to "lien confidentiel", donvert_url(@donvert, codeword: @donvert.codeword) %> pour finaliser l'opération. </p>
<p></p>
<p>Une fois votre don pourvu, il ne sera plus possible de vous contacter par l'intermédiaire de sa fiche sur la <%= link_to "Bourse Verte", donverts_url %>.</p>
<p>Compostement votre,</p>
<p>L'Équipe des Voisins de Compost</p>
