<div class="footer">
  <div class="footer__logo">
    <img src="<%= image_path('logo-beta.png') %>">
  </div>

  <div class="text-bloc">
    <ul class="footer__links">
      <li><h2>Poubelles battle</h2></li>
      <li><a href="https://beta.gouv.fr/startups/poubelles-battle.html">Qui sommes-nous ?</a></li>
      <li><a href="https://beta.gouv.fr/apropos/">Les start-ups d’état</a></li>
      <li><a href="">Mentions légales</a></li>
      <li><%= mail_to "contact@poubellesbattle.fr", "Contactez-nous !" %></li>
      <li><a href="https://poubellesbattle.fr/vieprivee">Vie privée</a></li>
      <% unless @composteurs.nil? %>

          <div class="dropdown-toggle border-none compo-footer-dropdown" id="dropdownCompoList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sites de compostages de quartier
          </div>

          <div class="dropdown-menu dropdown-menu-top" aria-labelledby="dropdownCompoList">
            <% @composteurs.each do |compo_link| %>
              <%= link_to compo_link.name.downcase.capitalize, composteur_path(compo_link), class: "dropdown-item compo-footer" if compo_link.public == true  %>
            <% end %>
          </div>
      <% end %>
    </ul>

    <ul class="footer__links">
      <li><h2>Aidez-nous à améliorer cet outil</h2></li>
      <li><a href="https://github.com/betagouv/poubellesbattle">Contribuer sur Github</a></li>
      <li><a href="https://github.com/betagouv/poubellesbattle">Envoyer une suggestion</a></li>
    </ul>

    <ul class="footer__links">
      <li><h2>En collaboration avec</h2></li>
      <li><a href="https://www.pau.fr/">L'agglomération de Pau</a></li>
      <li><a href="https://beta.gouv.fr/">Beta.gouv</a></li>
    </ul>
  </div>
</div>
