<footer class="footer">
    <div class="container">
      <div class="footer__logo">
        <img src="<%= image_path('PB_logo.png') %>">
      </div>

      <div class="text-bloc">
        <ul class="footer__links">
          <li><h2>Poubelles battle</h2></li>
          <li><a href="https://www.data.gouv.fr/reference">Qui sommes-nous ?</a></li>
          <li><a href="https://beta.gouv.fr/apropos/">Les start-ups d’état</a></li>
          <li><a href="">Mentions légales</a></li>
          <li><a href="">Contactez-nous !</a></li>
        </ul>

        <ul class="footer__links">
          <li><h2>Aidez-nous à améliorer cet outil</h2></li>
          <li><a href="https://github.com/JenniferStephan/poubellesbattle">Contribuer sur Github</a></li>
          <li><a href="https://github.com/JenniferStephan/poubellesbattle">Envoyer une suggestion</a></li>
        </ul>

        <ul class="footer__links">
          <li><h2>En collaboration avec</h2></li>
          <li><a href="https://www.pau.fr/">L'agglomération de Pau</a></li>
          <li><a href="https://beta.gouv.fr/">Beta.gouv</a></li>
        </ul>
      </div>

      <ul class="footer__links"></ul>
    </div>
  </footer>
