<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <%= link_to root_path do %>
    <img class="logo" src="<%= image_path('Poubelles Battle logo (1).png') %>"/>
  <% end %>

<!--
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->




      <button class="border-none add-meal" type="button" >
          <%= link_to "Ajouter un composteur", new_composteur_path %>
       </button>

</div>

