<div class="admin-box">
  <div class="stat-flex-container">
    <% @stats.each do |stat| %>
      <div class="stat-card <%= stat[0] %>">
        <div class="stat-title">
          <%= stat[1] %>
        </div>
        <div class="stat-number"><%= stat[0].to_s.include?("percent") ? "+ #{stat[2]} %" : "#{stat[2]}" %></div>
      </div>
    <% end %>
  </div>
</div>
