<div class="home-banner ">
  <h1> Un composteur pour tous !</h1>
  <p>Que vous habitiez en maison individuelle, en appartement sans jardin, en résidence, il existe une solution pour chacun !</p>
  <!-- <iframe width="540" height="305" src="https://6c4cf121.sibforms.com/serve/MUIEAKz3s1j-boA6fFXGoKco_0zOdHm0s1MCqTks_OeuTxy7N52p7iLMipceoflrfyWjkjOa5IzPy-FURvEgLrpO6a2czlq-Vbw8vuNBMMm17BmZi1Twd79NKL_dpzHbscdB523INOJNpgzFZl3H-PwmeoNUuzEPhsgibFHxXclANjcZ-tg-7AYtPBFpQofCkrBs6LTKVNUK8YsP" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe> -->
</div>

<div class="section-grey">
  <h2 class="section-title">Découvrez les <%= @composteurs_all.count %>  composteurs collectifs mis à disposition à Pau et l'agglomération.</h2>
  <div class="how-to-paragraphs">
    <p>Trois manières de composter suivant votre style d’habitat : Composteur Individuel, Composteur Collectif en résidence ou Lombricomposteur. Choisissez la méthode qui convient le mieux à votre situation.</p>
    <p>Déchets de cuisine (épluchures de fruits et légumes, marc de café…), de jardin…
    Avec un peu de soin, d’amour, et une dose de matière solide, votre compost sera prêt à devenir un fertilisant en or !</p>
  </div>
</div>

