<div class="home-banner ">
  <p class="version-beta">version beta</p>
  <h1> Un composteur pour tous !</h1>
  <p>Que vous habitiez en maison individuelle, en appartement sans jardin, en résidence, il existe une solution pour chacun•e !</p>

    <a class="newsletter" data-toggle="collapse" href="#collapseNewsletter" role="button" aria-expanded="false" aria-controls="collapseExample">
      S'inscrire à la newsletter
    </a>

  <div class="collapse" id="collapseNewsletter">
    <div class="card card-body">
      <!-- Begin Mailchimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
      <form action="https://agglo-pau.us20.list-manage.com/subscribe/post?u=b1fc347f3e5c5729237f2dab7&amp;id=940663c959" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">

        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="votre email..." required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b1fc347f3e5c5729237f2dab7_940663c959" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Inscription" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
      </div>

      <!--End mc_embed_signup-->
    </div>
  </div>
</div>

<div class="section-grey">
  <h2 class="section-title">Découvrez les <%= @composteurs_all.count %>  composteurs collectifs mis à disposition à Pau et l'agglomération.</h2>
  <div class="how-to-paragraphs">
    <p>Trois manières de composter suivant votre style d’habitat : Composteur Individuel, Composteur Collectif en résidence ou Lombricomposteur. Choisissez la méthode qui convient le mieux à votre situation.</p>
    <p>Déchets de cuisine (épluchures de fruits et légumes, marc de café…), de jardin…
    Avec un peu de soin, d’amour, et une dose de matière solide, votre compost sera prêt à devenir un fertilisant en or !</p>
  </div>
</div>

