<div class="home-banner ">
  <p class="version-beta">version beta</p>
  <h1> Un composteur pour tou•te•s !</h1>
  <p>Que vous habitiez en maison individuelle, en appartement sans jardin, en résidence, il existe une solution pour chacun•e !</p>

    <!-- <a class="newsletter" href="#newsletter">
      S'inscrire à la newsletter
    </a> -->


</div>

<div class="section-grey">
  <h2 class="section-title">Découvrez les <%= @composteurs_all.count %>  composteurs collectifs mis à disposition à Pau et l'agglomération.</h2>
  <div class="how-to-paragraphs">
    <p>Trois manières de composter suivant votre style d’habitat : Composteur Individuel, Composteur Collectif en résidence ou Lombricomposteur. Choisissez la méthode qui convient le mieux à votre situation.</p>
    <p>Déchets de cuisine (épluchures de fruits et légumes, marc de café…), de jardin…
    Avec un peu de soin, d’amour, et une dose de matière solide, votre compost sera prêt à devenir un fertilisant en or !</p>
  </div>
</div>

