<div class="home-banner compost-banner">
  <div class="middle">
    <h1> Un composteur pour tou•te•s !</h1>
    <p>Que vous habitiez en maison individuelle, en appartement sans jardin, en résidence, il existe une solution pour chacun•e !</p>
  </div>
  <div class="illu-banner">
    <%= image_tag "Monstre.png", alt: "Illustration d'un composteur collectif auquel on jette des épluchures de fruits et légumes." %>
    <%= image_tag "Famille.png", alt: "Illustration présentant trois personnes de différentes générations." %>
  </div>
</div>

<div class="section-grey compost-section">
  <h2 class="section-title">Découvrez les <%= @composteurs_count %>  composteurs collectifs mis à disposition à Pau et l'agglomération.</h2>
  <div class="how-to-paragraphs">
    <p>Deux manières de composter en collectif suivant votre style d’habitat : Composteur de Résidence ou Composteur de quartier. Choisissez la méthode qui convient le mieux à votre situation.</p>
    <p>Déchets de cuisine (épluchures de fruits et légumes, marc de café…), de jardin…
    Avec un peu de soin, d’amour, et une dose de matière solide, votre compost sera prêt à devenir un fertilisant en or !</p>
  </div>
  <%= link_to "Je veux voir la carte !", root_path(anchor:"composter"), id:'composter', class: 'button-in-paragraph cta-compost' %>
</div>

