<div class="banner">
  <div class="container">
    <h1>Un composteur pour tous !</h1>
      <p>Que vous habitiez en maison individuelle,
      en appartement sans jardin,
      en résidence, il existe une solution pour chacun !</p>
    <!-- <a class="btn btn-flat" href="#">Book now</a> -->
  </div>
</div>

<section class="section section-grey">
  <div class="container">
      <h2 class="section__title">Découvrez les 58 composteurs collectifs mise à disposition à Pau</h2>

        <div class="row">
          <p class="text-p">2500 produits, 14 indicateurs, toutes les informations sur l’alimentation et son impact sur l’environnement</p>
          <p class="text-p">Un comité scientifique de validation et une méthodologie d’après l’analyse de cycle de vie des produits</p>
          <p class="text-p">Un outil pratique à intégrer en phase d’éco-conception ou directement dans vos application via API</p>
        </div>
  </div>
</section>


<div class="container mt-3 text-center">
  <!-- <p> Découvrez les 58 composteurs collectifs mise à disposition à Pau </p> -->
  <%#= render '/shared/search-bar' %>
   <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

