<div class="composteur-new-edit">
  <div class="composteur-form-box">
    <h2> Création d'un nouveau site de compostage </h2>
    <%= render 'form', compo: @composteur %>

    <div class="back-button-container d-flex">
      <%= link_to "Revenir à la carte", root_path, class: "little-button-yellow" %>
    </div>
  </div>
</div>
