<h5>Bonjour <%= @message.donvert.donneur_name %></h5>
<p>Une personne semble être interessée par votre don !</p>
<p>Voilà son nom : <%= @message.sender_full_name %></p>
<p>Son email : <%= @message.sender_email %></p>
<p>Et son message : </p>
<p>"<i><%= @message.content %></i>"</p>
<p>N'hésitez pas à le contacter,</p>
<p>Compostement votre,</p>
<p>L'Équipe Poubelles Battle</p>
