<h5>Bonjour à tou•te•s !</h5>
<p>Voilà un message de <%= @message.sender_full_name %> du site <%= @sender.composteur.name %> : </p>
<p>"<i><%= @message.content %></i>"</p>
<p>N'hésitez pas à lui répondre à cette adresse : <%= @message.sender_email %></p>
<p>Compostement votre,</p>
<p>L'Equipe des Voisins de Compost</p>
