.admin-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.demande-inline {
  margin-top: 20px;
  display: flex;
  width: 90vw;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px grey;
  background: white;
}

.demande-case {
  padding: 5px 20px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-grow: 1;
}

.demande {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 20px;
}

.validee {
  background: green;
}

.non-validee {
  background: red;
}
