.admin-box {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marg-vert {
  margin: 25px 0;
}

.admin-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.demande-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px grey;
  background: white;
  margin: 20px;
  width: 260px;
  height: 400px;
  flex-direction: column;
}

.demande-case {
  padding: 5px 20px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-grow: 1;
}

.buttons-demande {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  padding: 5px 20px;
}

.demande {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.button-demande {
  text-align: center;
  font-size: 30px;
}

.validee {
  background: green;
}

.non-validee {
  background: red;
}
