.admin-box {
  width: 100%;
  min-height: calc(100vh - 160px - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.vie-privee-box {
  margin: 120px auto 50px;
}

.whitebg-admin {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 5px;
  .marg-vert {
    position: relative;
    top: 40px;
    margin: 10px 0 !important;
  }
}

/* Feuille de style intégrée #6 | http://www.poubellesbattle.fr/#carto */

.marg-vert {
  margin: 25px 0;
}

.marg-vert-bottom {
  margin-bottom: 60px;
}

.white-bg {
  background: white;
  box-shadow: 0 0 5px #e6e2e2;
}


.admin-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 80vw;
  justify-content: center;
}

.composteur-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.composteur-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px grey;
  background: white;
  margin: 0 20px 20px 20px;
  width: 260px;
  height: 300px;
  border-radius: 10px 10px 0 0;
  position: relative;
  top: 10px;
  flex-direction: column;
  z-index: 9;
  box-shadow: 0 -2px 10px darkgray;
  img {
    height: 200px;
  }
}

.demande-form {

}

.demande-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demande-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px grey;
  background: white;
  margin: 0 20px 20px 20px;
  width: 260px;
  height: 410px;
  flex-direction: column;
  z-index: 9;
  box-shadow: 0 0 10px darkgray;
  img {
    height: 200px;
  }

  // flatpickr / datepicker

  .edit_demande {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
  }

  input.bouton-ok {
    margin: 0;
    padding: 5px 10px;
    background: white;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 5px 15px;
    font-size: 30px;
    border-radius: 15px;
    height: max-content;
    transition: background 0.3s ease;
  }

  .demande_planification_date {
    width: 120px;
    text-align: center;
    margin: 0;
  }

  .planification_date .demande_planification_date {
    display: none;
  }
}

.demande-name {
  font-size: 20px;
}

.demande-details {
  padding: 5px 20px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-grow: 1;
}

.buttons-demande {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  padding: 5px 20px;
  position: relative;
  top: 35px;
}

.demande {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.button-demande {
  text-align: center;
  font-size: 30px;
  background: white;
  padding: 5px 10px 20px 10px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -5px 5px rgba(10, 10, 10, 0.1);
  transition: all 0.2s ease;
  position: relative;
  top: 0px;
  &:hover {
    top: -10px;
    transition: all 0.2s ease;
  }
}

.status {
  width: 260px;
  height: 20px;
  position: relative;
  top: 10px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 -2px 10px darkgray;
}

.validee {
  background: #56c37b;
}

.non-validee {
  background: #f0b7b7;
}

.messages-box {
  margin-top: 50px;
  display: flex;
  width: 80vw;
  justify-content: space-between;
}

.new-message, .current-message {
  width: 45%;

}
