.alert.alert-demo.alert-info.alert-dismissible {
  width: 300px;
  padding: 20px;
  p {
    margin: 10px auto;
  }
}
.alert {
  position: fixed;
  bottom: 16px;
  right: 95px;
  z-index: 1000;
  width: max-content;
}

