.alert, .notice {
  position: fixed;
  bottom: 16px;
  right: 95px;
  z-index: 1000;
  width: max-content;
}

@media (max-width: 1000px) {
  .alert, .notice {
    bottom: 72px;
    right: 0px;
    width: 90%;
  }
}
