// rules for composteurs index / index / root page
@media (min-width: 1024px) {
  .compost-section {
    height: 50vh;
  }
}
.home-banner {
  background-color: white;
  padding: 0 50px;
  position: relative;
  height: calc(100vh - 50vh - 65px);
  margin-top: 65px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  img {
    height: 100%;
  }
  .middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    h1 {
      color: $pau-dark-blue;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-weight: bold;
      width: max-content;
      margin: 0;
    }
    p {
      font-size: 18px;
      color: $pau-dark-blue;
      width: 400px;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      margin: auto;
    }
  }
  // .version-beta {
  //   font-size: 12px;
  //   color: white;
  //   max-width: fit-content;
  //   background-color: $yellow-pb;
  //   padding: 0 0.9em;
  //   // border-radius: 30px;
  //   margin-bottom: 20px;
  //   text-shadow: 0 0 5px gray;
  // }
  #mc_embed_signup_scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.container {
  text-align: center;
}


.card-container {
    width: 1200px;
    margin: auto;
    padding: 3px;
}



.card img {
  height: 100px;
}

.card p {
  opacity: .5;
}

.card h5 {
  font-size: 20px;
}


.card {
  width: 300px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgb(230,230,230);
  text-align: center;
  padding: 10px;
  border: 0.5px solid rgb(230,230,230);
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

// MEDIA QUERIES
@media (max-width: 600px) {
  .home-banner {
    margin-top: 100px;
    h1 {
      font-size: 25px;
    }
    p {
      width: 85vw;
    }
  }
}


