

.home-banner {
  background-color: #408A4E;
  padding: 50px 0;
  position: relative;
  height: max-content;
  margin-top: 65px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    // font-size: 32px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: bold;
  }
  p {
    font-size: 18px;
    color: white;
    width: 400px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    padding-top: 18px;
    margin: 0;
  }
  .version-beta {
    font-size: 12px;
    color: white;
    max-width: fit-content;
    background-color: #f2c05f;;
    padding: 0 0.9em;
    border-radius: 30px;
    margin-bottom: 20px;
  }
}


.container {
  text-align: center;
}


.card-container {
    width: 1200px;
    margin: auto;
    padding: 3px;
}



.card img {
  height: 100px;
}

.card p {
  opacity: .5;
}

.card h5 {
  font-size: 20px;
}


.card {
  width: 300px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgb(230,230,230);
  text-align: center;
  padding: 10px;
  border: 0.5px solid rgb(230,230,230);
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

