.bouton-valid {
  color: #1EDD88;
  background: white;
  text-decoration: none;
  border: solid 1px !important;
  margin: 0 20px;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 15px;
  height: max-content;
  transition: background 0.3s ease;
  &:hover {
    color: white;
    background: #1EDD88;
    text-decoration: none;
    transition: background 0.3s ease;
  }
}

input.bouton-valid {
  border: none;
  padding: 5px 24px;
}

.rouge {
  background: white;
  color: #ff6b6b;
  border-color: #ff6b6b !important;
  &:hover {
    background: #ff6b6b;
  }
}
.bleu {
  background: white;
  color: blue;
  border-color: blue !important;
  &:hover {
    background: blue;
  }
}

.text-rouge {
  color: #ff6b6b;
  background: white;
  border-color: transparent;
  &:hover {
    background: #ff6b6b;
  }
}

.compost {
  background: #ff8f00;
  &:hover {
    background: #ff8f00;
  }
}


// becoming a referent in compostage

.becoming-or-not-referent {
  display: flex;

width: 100%;


justify-content: center;

flex-wrap: wrap;

position: relative;

top: -50px;
  .user-action {
    padding: 5px 15px;
    margin: 5px;
    border-radius: 20px;
    a {
      color: white;
    }
  }
}


/* */

.devenir-ref-btn {
  background: aquamarine;
  padding: 5px 12px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(30, 30, 30, 0.5);
  margin: 20px 0 0 0;
  a {
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
}

// bouton : retirer le role référent à un user
input.mini-btn {
  border: none;
}

.mini-btn {
  padding: 5px 10px;
  background: #ff6b6b;
  font-size: 10px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 5px rgba(20, 20, 20, 0.2);
  width: max-content;

}
.mini-green-btn {
  background: #56c37b;
}
.mini-yellow-btn {
  background: yellow;
}
.mini-red-btn {
  background: red;
}
.mini-blue-btn {
  background: #74f0ea;
}
.mini-banana-btn {
  background: #fbbe26;
}


.edit-don-btn {
  padding: 2px 7px;
  border-radius: 20px;
  font-size: 15px;
  a {
   color: white;
    &:hover {
      color: white;
    }
  }
}
.pourvu-don {
  background: #6ff46f;
  color: white;
}
.archive-don {
  background: white;
  border: solid 1px #fb652c;
  a {
    color: black;
    &:hover {
      color: black;
    }
  }
}
.email-button {
  font-size: 30px;
}
