.bouton-valid {
  color: #1EDD88;
  background: white;
  text-decoration: none;
  border: solid 1px !important;
  margin: 0 20px;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 15px;
  height: max-content;
  transition: background 0.3s ease;
  &:hover {
    color: white;
    background: #1EDD88;
    text-decoration: none;
    transition: background 0.3s ease;
  }
}

input.bouton-valid {
  border: none;
  padding: 5px 24px;
}

.rouge {
  background: white;
  color: #ff6b6b;
  border-color: #ff6b6b !important;
  &:hover {
    background: #ff6b6b;
  }
}
.bleu {
  background: white;
  color: blue;
  border-color: blue !important;
  &:hover {
    background: blue;
  }
}

.text-rouge {
  color: #ff6b6b;
  background: white;
  border-color: transparent;
  &:hover {
    background: #ff6b6b;
  }
}

.compost {
  background: #ff8f00;
  &:hover {
    background: #ff8f00;
  }
}
