.destroy-btn {
  margin: 0 5px;
  border: solid 1px red;
  padding: 2px 4px;
  border-radius: 10px;
  font-size: 10px;
  width: max-content;
}

.bouton-valid {
  color: white;
  background: $pau-orange;
  text-decoration: none;
  border: solid 1px !important;
  margin: 0 20px;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 15px;
  height: max-content;
  transition: background 0.3s ease;
  &:hover {
    color: white;
    background: $pau-green;
    text-decoration: none;
    transition: background 0.3s ease;
  }
}
.button-in-paragraph {
  color: white;
  background: $pau-blue;
  padding: 5px 15px;
  border-radius: 15px;
  text-decoration: none;
  transition: background 0.3s ease;
  &:hover {
    background: $pau-light-blue;
    color: white;
    transition: background 0.3s ease;
  }
}
.cta-compost {
  margin: 50px 0;
  color: white;
  background: $pau-orange;
  font-weight: bold;
  &:hover {
    background: white;
    color: $pau-orange;
  }
}
@media (min-width: 600px) {
  .button-in-paragraph.cta-compost {
    margin: 0;
  }
}
.small-btn-pb {
  padding: 0 10px;
  border-radius: 10px;
  font-size: 13px;
  box-shadow: 0 0 10px rgba(20, 30, 40, 0.15);
  margin: 10px 0 0 0;
}
.white-btn {
  background: white;
  width: 90%;
}
.width-max {
  width: max-content;
  padding: 0 10px;
}
input.bouton-valid {
  border: none;
  padding: 5px 24px;
}

.rouge {
  background: white;
  color: $pau-red;
  border-color: $pau-red !important;
  &:hover {
    background: $pau-red;
  }
}
.bleu {
  background: white;
  color: $pau-blue;
  border-color: $pau-blue !important;
  &:hover {
    background: $pau-blue;
  }
}

.text-rouge {
  color: $pau-red;
  background: white;
  border-color: transparent;
  &:hover {
    background: $pau-red;
  }
}

.compost {
  background: #ff8f00;
  &:hover {
    background: #ff8f00;
  }
}


// becoming a referent in compostage

.becoming-or-not-referent {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  .user-action {
    padding: 5px 15px;
    margin: 5px;
    border-radius: 20px;
    a {
      color: white;
    }
  }
}


/* */



// bouton : retirer le role référent à un user
input.mini-btn {
  border: none;
}

.mini-btn {
  padding: 5px 10px;
  background: $pau-red;
  font-size: 10px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 5px rgba(20, 20, 20, 0.2);
  width: max-content;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}
.mini-green-btn {
  background: $pau-green;
}
.mini-yellow-btn {
  background: $yellow-pb;
}
.mini-red-btn {
  background: $pau-red !important;
}
.mini-banana-btn {
  background: $yellow;
}

// don verts

.new-don-btn {
  padding: 5px 12px;
  background: $purple-pb;
  border-radius: 20px;
  width: max-content;
  transition: all 0.5s ease;
  border: solid 1px white;
  float: right;
  margin: 15px 0;
  color: white;
  a {
    color: white;
  }
  &:hover {
    transition: all 0.5s ease;
    border: solid 1px $purple-pb;
    background: white;
    text-decoration: none;
    color: $purple-pb;
    a {
      color: $purple-pb;
    }
  }
}
.edit-don-btn {
  padding: 2px 7px;
  border-radius: 20px;
  font-size: 15px;
  a {
   color: white;
    &:hover {
      color: white;
    }
  }
}
.pourvu-don {
  background: $pau-green;
  color: white;
}
// .archive-don {
//   background: white;
//   border: solid 1px #fb652c;
//   a {
//     color: black;
//     &:hover {
//       color: black;
//     }
//   }
// }
.email-button {
  font-size: 30px;
}
