.composteur-box {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 150px 0 50px 0;
}

.composteur-left {
  width: 60%;
  height: max-content;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: white;
  border-radius: 10px;
  padding: 10px;
}

.composteur-right {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 20px;
  .composteur-registration-form {
    text-align: center;
    .new-user-form {
      border-radius: 20px;
      box-shadow: 0 0 20px #150060;
      margin: 0 0 50px 0;
      .user-form-line {
        box-shadow: none;
      }
    }
  }
  .les-referents {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding:20px 0;
    margin: 0;
    #ref-popover {
      font-size: 12px;
      background: #986535;
      border: none;
    }
  }
}

.round-counter {
  background: #56c37b;
  padding: 6px 12px;
  font-size: 10px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative;
  left: -25px;
  top: -12px;
}


.referent-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: max-content;
  width: 90%;
  margin: 25px 10px;
  box-shadow: 0 0 5px rgba(40, 40, 40, 0.2);
  .star {
    position: relative;
    text-align: center;
    font-size: 30px;
    position: relative;
    top: -15px;
    // top: 19px;
  }
  .referent-profile {
    // width: 100%;
    // height: max-content;
    // padding: 23px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    // border-radius: 10px;
    // background: white;
    // text-align: center;
    a {
      font-size: 25px;
    }
    p {
      margin: 0;
    }
  }
}

.no-ref {
  width: 100%;
  height: max-content;
  padding: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  background: white;
  text-align: center;
}

.les-users {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.user-card {
  font-size: 15px;
  background: antiquewhite;
  margin: 10px;
  padding: 1px 5px;
}


.depot-anomalie {
  display: flex;
  .signaler {
    margin: 20px;
    padding: 5px 15px;
    color: black;
    border-radius: 20px;
    border: none;
  }
}

// messages de l'agglo, généré coté admin affichés sur tous les composteurs-show !

.les-messages {
  background: white;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 1px teal;
  .message-date {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 14px;
  }
}

.compost-time-to-go {
  width: 100%;
  height: 20px;
  border-radius: 20px;
  background: beige;
  .compost-time-past {
    background: orange;
    width: 2%;
    height: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px #fb9108;;
  }
}
// couleurs des boutons ET des notifications cards dans notification.scss

.composteur-new-edit {
  width: 100vw;
  margin: 150px 0 40px 0;
  display: flex;
  justify-content: space-around;
  .composteur-form-box {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(20, 20, 20, 0.2);
    width: 50%;
    background: white;
    // margin: 0 30px 0 0;
    padding: 30px;
    .composteur-form-top {
      display: flex;
      justify-content: space-between;
      margin: 0 0 20px 0;
      align-items: center;
    }
  }
}

.referents-edit-list {
  background: white;
  width: 30%;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(20, 20, 20, 0.2);
  .add-ref {
    background: #56c37b;
  }
  .referent-edit-card {
    border-bottom: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

