// @function days_until_compo($number) {
//   @if $number <= 100 or $number >= 0 {
//     @return (100% - $number%);
//   }
//   @else {
//     @return 100%;
//   }
// }




.composteur-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 100px 0 50px 0;
  .composteur-left {
    width: 70%;
    height: max-content;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 10px;
    #messagerie-board {
      padding-top: 70px;
    }
    .messagerie-board-info {
      margin: 0 auto 15px;
      font-size: 12px;
    }
    .header-composteur {
      width: 90%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      .composteur-infos {
        width: 100%;
        .composteur-name {
          letter-spacing: 1px;
          font-size: 55px;
          font-family:'Bangers', cursive;
          text-shadow: $yellow 1px 1px 2px;
          color: $dark-brown-pb;
        }
        .composteur-adress {
          margin: 10px 0;
          font-size: 14px;
          padding: 0;
        }
      }
    }
    .inscription-desinscription {
      display:flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      margin: 0 0 20px 0;
    }
    .banner-composteur-img-stats {
      display: flex;
      justify-content: space-between;
      width: 90%;
      .composteur-photo {
        max-width: 75%;
        border-radius: 10px;
        // height: auto;
      }
      .stats {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .stats-pb {
          width: 100%;
          height: max-content;
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: $yellow;
          border: solid 5px $green;
          border-radius: 10px;
          color: $dark-brown-pb;
          h1 {
            font-size: 40px;
            padding: 0;
          }
          p {
            font-size: 12px;
            margin: 0;
          }
        }
        .users-count, .composteur-score, .composteur-depot-count {
          height: 25%;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          padding: 10px;
          // border: solid 2px #502703;
          margin: 0 0 0 10px;
          border-radius: 30px;
          flex-direction: column;
          background: #56c37b;
          .users-stat-number {
            font-size: 50px;
            font-family:'Bangers', cursive;
            letter-spacing: 1px;
            // transform: rotate(-2deg);
            // text-shadow: yellow 1px 1px 2px;
            color: $yellow;
            }
            .users-stat-info {
              font-size: 12px;
              color: white;
            }
          }
          .users-count {
            .users-stat-number {
              margin: 10px 0 0 0;
            }
            .users-stat-info {
            position: relative;
            top: -8px;
          }
        }
      }
    }
    .les-users {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      margin: 40px 0;
      padding: 10px 0;
      .user-card {
        background: white;
        font-size: 15px;
        padding: 0;
        margin: 0 5px 20px 0;
        display: flex;
        .user-first-name {
          margin: auto;
          background: antiquewhite;
          padding: 1px 6px;
        }
        .round-counter {
          background: $dark-green;
          color: white;
          padding: 6px 12px;
          font-size: 10px;
          border-radius: 50%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          position: relative;
          left: -10px;
          top: -10px;
          width: max-content;
        }
      }
    }
    .jauge-to-compost {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        position: absolute;
        z-index: 10;
        margin: 0;
      }
      .compost-time-to-go {
        width: 100%;
        height: 30px;
        border-radius: 20px;
        background: antiquewhite;
        display: flex;
        align-items: center;
        position: relative;
        .compost-time-past {
          background: $orange;
          width: 30px;
          height: 30px;
          border-radius: 30px;
          position: absolute;
          // box-shadow: 0 0 5px $orange;
        }
      }
    }
    .depot-anomalie {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 34px 0;
      .signaler {
        padding: 5px 15px;
        color: black;
        border-radius: 20px;
        border: none;
      }
      .anomalie-form {
        display: flex;
        align-items: center;
      }

      .form-group {
        margin: 0;
      }

      .anomalie-form {
        background: #f0b7b7;
        padding: 5px 10px;
        border-radius: 20px;
        justify-content: space-between;
      }
      .depot-form {
        padding: 5px 10px;
        border-radius: 20px;
        background: #56c37b;
        width: min-content;
      }
    }

    .depot-anomalie .anomalie-form {
      width: 50%;
    }
  }
}


// right col
.composteur-right {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
  // background: white;
  background: transparent;
  .action-card {
    width: 100%;
    text-align: center;
  }
  .composteur-registration-form {
    text-align: center;
    .new-user-form {
      border-radius: 20px;
      box-shadow: 0 0 20px $dark-brown-pb;
      margin: 0 0 50px 0;
      .user-form-line {
        box-shadow: none;
      }
    }
  }
  .les-referents {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 20px 0;
    border: solid 1px $dark-brown-pb;
    border-radius: 10px;
    background: white;
    h3 {
      position: relative;
    }
    .ref-quoi {
      font-size: 12px;
      background: $brown-pb;
      border: none;
      color: white;
      padding: 5px 10px;
    }
    .referent-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      height: max-content;
      margin: 25px 0 0 0;
      width: 85%;
      border-top: solid 1px $dark-brown-pb;
      padding: 10px 0;
      .first-name {
        font-size: 22px;
        padding: 1px 10px;
      }
      .phone-number {
        margin: 0;
        font-size: 14px;
      }
    }
  }
  .no-ref {
    width: 90%;
    height: max-content;
    padding: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: white;
    text-align: center;
  }
  // messages de l'agglo, généré coté admin affichés sur tous les composteurs-show !

  .les-messages {
    background: white;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 1px $dark-green;
    .message-date {
      font-style: italic;
      font-size: 14px;
      margin-bottom: 14px;
    }
    .message-content {
      overflow-wrap: anywhere;
    }
  }
}

.is-referent-bg {
  background: $orange !important;
  color: white !important;
}

/* BTNS for mobile view */
  .dropdown-mail-to {
    margin: 0 !important;
  }
  .becoming-referent-toggle {
    margin: 0;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(30, 30, 30, 0.2);
    a {
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .dropdown-form-referent {
    margin: 0 10px 0 0;
    .referent-action-toggle {
      background: white;
      padding: 10px 17px;
      border-radius: 10px 10px 0 0;
      box-shadow: 0 -11px 10px rgba(20, 30, 40, 0.15);
      font-size: 13px;
    }
    .referent-mail-to-toggle {
      background: white;
      padding: 5px 12px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(20, 30, 40, 0.15);
      font-size: 13px;
      margin: 10px 0 0 0;
    }
    .referent-composteur-action {
      padding: 15px;
      font-size: 13px;
      box-shadow: 0 0 20px rgba(10, 10, 10, 0.6);
    }

    .dropdown-menu.show {
      border-radius: 15px;
      margin-top: 8px;
      min-width: 200px;
      &:hover {
        color: black;
      }
    }
  }
.referent-composteur-actions {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;


  .show:hover {
    color: black;
  }
}



















// couleurs des boutons ET des notifications cards dans notification.scss

.composteur-new-edit {
  width: 100vw;
  margin: 150px 0 40px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .composteur-form-box {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(20, 20, 20, 0.2);
    width: 55%;
    background: white;
    // margin: 0 30px 0 0;
    padding: 30px;
    .composteur-form-top {
      display: flex;
      justify-content: space-between;
      margin: 0 0 20px 0;
      align-items: center;
    }
  }
  #carto {
    background: white;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(30, 30, 30, 0.1);

    .manual-latlng-or-not {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 40px 0;
      height: 200px;
      width: 100%;
      .manual-left, #info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 50%;
        padding: 10px;
        font-size: 14px;
        p {
          margin: 0;
        }
        .add-coord-btn {
          color: white;
          background: green;
          width: max-content;
          padding: 5px 10px;
          border-radius: 10px;
        }
      }

    }
  }
}
.referents-edit-list {
  background: white;
  width: 30%;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(20, 20, 20, 0.2);
  .add-ref {
    background: #56c37b;
  }
  .referent-edit-card {
    border-bottom: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
#topReferentAggloCollapse {
  display: none;
}

@media (max-width: 600px) {
  .composteur-box {
    margin: 150px 0 50px 0 !important;
    .depot-anomalie {
      justify-content: center;
      flex-wrap: wrap;
      .depot-form {
        font-size: 14px;
        margin: 5px;
      }

      .anomalie-form {
        font-size: 14px;
        margin: 5px;
        width: 90%;
      }
    }

/* application-0b158dc183dd2e904f79d1f8ee736e25e856300020eb3994d22393360abe6fa1.css | http://localhost:3000/assets/application-0b158dc183dd2e904f79d1f8ee736e25e856300020eb3994d22393360abe6fa1.css */

.message-form-flex {
  /* display: flex; */
  display: block;
}

.message-form {
  /* padding: 0 45px; */
  padding: 0;
}

  }
}


@media (max-width: 1000px) {
  .composteur-box {
    flex-wrap: wrap;
    margin: 90px 0 50px 0;
    .composteur-right {
      display:none;
    }
    .composteur-left {
      width: 90%;
      margin: 20px 0;
      .dropdown-form-referent {
        margin: 0;
      }



      .composteur-adress {
        font-size: 13px;
      }


      .banner-composteur-img-stats {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        .composteur-photo {
          max-width: 90%;
        }
        .stats {
          max-width: 100%;
          flex-direction: row;
          margin: 10px 0;
          .users-count .users-stat-number, .composteur-score .users-stat-number, .composteur-depot-count .users-stat-number {
            font-size: 20px;
          }
          .users-count, .composteur-score, .composteur-depot-count {
            padding: 0;
            width: 30%;
            margin: auto;
            height: 100px;
          }
          .users-count .users-stat-info {
            top: 0px;
          }

          .users-count .users-stat-number {
            margin: 18px 0 0 0;
          }
        }
      }
    }
  }
  #topReferentAggloCollapse {
    width: 100%;
    display: inline-block;
    text-align: center;
    .btn-to-referent-collapse {
      background: white;
      box-shadow: 0 0 10px rgba(20, 20, 20, 0.2);
      margin: 0 0 45px 0;
      font-size: 13px;
    }
    #collapseReferentAgglo.show {
      align-items: center;
      justify-content: center;
    }
    .card {
      width: 100%;
    }
    .les-referents {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
