.demande-flex {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 140px 0 0 0;
}
.demande-compo-vue {
  width: 50%;
  align-items: center;
  .demande-info {
    margin: 10px 0;
  }
}

.legende {
  margin: 0;
  font-size: 12px;
}

.demande-compo-modif {
  width: 25%;
  p {
    margin: 10px 0;
  }
}

.demande-compo-vue, .demande-compo-modif {
  background: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  height: max-content;
}



.demandes-box {
  display: flex;
  width: 100vw;
  margin-top: 200px;
  justify-content: space-evenly;
  .demandes-compostage {
    width: 60%;
    text-align: center;
    .admin-list {
      width: 100%;
    }
  }
  .demandes-referents {
    width: 25%;
    text-align: center;
    .demande-referent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: max-content;
      background: white;
      padding: 10px;
      border-radius: 5px;
      margin: 5px 15px;
      box-shadow: 0 0px 5px rgba(40, 40, 40, 0.2);
      box-shadow: 0 0 5px rgba(40, 40, 40, 0.2);
      .valid-refus {
        font-size: 12px;
        display:flex;
        flex-direction: column;
        width: min-content;
        height: max-content;
        a {
          padding: 3px 12px;
          margin: 5px 0;
          border-radius: 5px;
        }
      }
      p {
        margin: 0;
        a {
          font-weight: bold;
          &:hover {
            color: #56c37b;
          }
        }
      }
    }
  }
}

.demande-box {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: calc(100vh - 400px);
}
.demande-left {
  padding: 0 50px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 160px);
  align-items: center;
  margin: 120px 0 0 0;
  .suivi-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(20, 20, 20, 0.2);
    h5 {
      margin-bottom: 25px;
    }
  }
}

.demande-registration-form {
  width: 30%;
  height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 120px 0 0 0;
}


.new-user-form {
  background: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -20px 20px rgba(20, 20, 20, 0.2);
  margin: 30px 0 0 0;
}
.user-form-line {
  position: relative;
  height: 2px;
  width: 135%;
  top: 35px;
  box-shadow: 0 -5px 5px rgba(20, 20, 20, 0.4);
}


@media (max-width: 500px) {
  #new_demande {
    font-size: 14px;
    .formline-between .form-group {
      /* width: 49%; */
      width: 45%;
    }
  }

  .demande-box {
    height: max-content;
    flex-wrap: wrap;
    .demande-registration-form {
      width: 90%;
      margin: 90px 0 0 0;
      .new-user-form {
        font-size: 14px;
      }
      h3 {
        margin: 0 0 25px 0;
      }
    }
  }
  .demande-left {
    padding: 0;
    width: 90%;
    margin: 130px 0 0 0;
    .marg-vert {
      margin: 12px 0;
    }
  }

}
