.new-edit-don {
  margin: 120px 80px;
  background: white;
  padding: 30px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -5 10px rgba(20, 20, 20, 0.3);
  text-align: center;
  #new_donvert {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    .type-don, .contact-don {
      width: 40%;
      text-align: left;
      margin: 20px 0;
      h5 {
        padding: 20px 0;
      }
      p {
        padding-bottom: calc(0.375rem + 1px);
        margin: 0;
      }
      .form-group.radio_buttons {
          flex-wrap: wrap;
          .col-form-label {
           width: 100%;
          }
        }
    }
  }
}


@media (max-width: 800px) {
  .new-edit-don {
    #new_donvert {
      .type-don, .contact-don {
        width: 90%;
      }
    }
  }
}

@media (max-width: 500px) {
  .new-edit-don {
    margin: 140px 12px;
    padding: 30px 15px;
    h2 {
      font-size: 25px;
    }
    #new_donvert {
      .type-don, .contact-don {
        margin: 10px 0;
        .form-group.radio_buttons {
          flex-wrap: wrap;
          .col-form-label {
           width: 100%;
          }
        }
      }
    }
  }
}

.all-dons-view {
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: auto;
  .don-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 140px 0;
    background: white;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    justify-content: space-around;
    .dons-title {
      width: 100%;
      min-height: 190px;
      text-align: center;
      margin: 0 0 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      p {
        margin: 0;
      }

      .dons-explaination {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .don-past {
      opacity: 0.6;
    }
    .don-card {
      padding: 0 10px 10px 10px;
      margin: 5px 10px 20px 10px;
      text-align: center;
      width: 30%;
      min-width: 255px;
      max-width: 290px;
      height: 510px;
      border-bottom: solid 1px rgba(20, 20, 20, 0.3);
      box-shadow: 0 0 5px rgba(50, 50, 50, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .dropdown-options {
        .dropdown-toggle {
          background: $light-green-pb;
          color: black;
          border: none;
        }
        .don-options-size-padd.show {
          position: absolute;
          will-change: transform;
          text-align: center;
          width: 200px;
          top: 0px;
          left: 0px;
          transform: translate3d(-24px, 40px, 0px) !important;
        }
      }
      img {
        max-width: 190px;
        max-height: 160px;
        padding: 25px 0 0 0;
      }
      h5, .don-infos {
        max-width: 270px;
        margin-top: 10px;
      }
      .don-infos {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: max-content;
        overflow-wrap: anywhere;
        .don-details {
          line-height: 190%;
        }
        p {
          overflow-wrap: anywhere;
          font-size: 13px;
        }
        .don-matiere {
          padding: 2px 4px;
          background:$light-green-pb;
        }
        .don-adresse {
          padding: 2px 4px;
          background: $light-orange-pb;
        }
        .nom-donneur {
          padding: 2px 4px;
          background: $light-yellow-pb;
          text-transform: uppercase;
        }
        .don-non-pourvu {
          padding: 2px 4px;
          background: $orange;
          color: white;
        }
        .description-don {
          font-style: italic;
          text-align: center;
          padding: 5px 0;
          font-size: 14px;
          overflow-wrap: anywhere;
        }
        // .don-depasse {
        //   background: rgba(20, 20, 20, 0.2) !important;
        //   color: black !important;
        // }
        a , .don-depasse {
          text-align: center;
          padding: 0 10px;
          border: solid 1px $light-orange-pb;
          color: white;
          background:$gray-pb;
          border-radius: 15px;
          margin: 0 auto;
          width: max-content;
          transition: all 0.5s ease;
          &:hover {
            background: white;
            color: $light-orange-pb;
            transition: all 0.5s ease;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .all-dons-view .don-cards .dons-title p, .all-dons-view .don-cards .dons-title a {
    font-size: 12px;
  }

}

@media (max-width: 500px) {
  .all-dons-view {
    width: 90%;
    .don-cards .don-card {
      min-width: 275px;
      margin: 5px 0 20px 0;
      width: 100%;
      max-width: 300px;
    }
  }
}
