.new-edit-don {
  margin: 120px 80px;
  background: white;
  padding: 30px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -5 10px rgba(20, 20, 20, 0.3);
  text-align: center;
  #new_donvert {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    .type-don, .contact-don {
      width: 40%;
      text-align: left;
      margin: 20px 0;
      h5 {
        padding: 20px 0;
      }
    }
  }
}


.all-dons-view {
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: auto;
  .don-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 140px 0;
    background: white;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    justify-content: space-around;
    .dons-title {
      width: 100%;
      min-height: 190px;
      text-align: center;
      margin: 0 0 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      p {
        margin: 0;
      }
      .new-don-btn {
        padding: 5px 12px;
        background: #0000ff69;
        border-radius: 20px;
        width: max-content;
        transition: all 0.5s ease;
        color: white;
        border: solid 1px white;
        &:hover {
          transition: all 0.5s ease;
          border: solid 1px #0000ff69;
          color: #0000ff69;
          background: white;
          text-decoration: none;
        }
      }
    }
    .don-past {
      opacity: 0.6;
    }
    .don-card {
      padding: 15px 10px;
      margin: 20px 10px;
      text-align: center;
      width: 30%;
      min-width: 255px;
      max-width: 290px;
      height: 450px;
      border-bottom: solid 1px rgba(20, 20, 20, 0.3);
      box-shadow: 0 0 5px rgba(50, 50, 50, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      img {
        max-width: 190px;
        max-height: 143px;
      }
      h5, .don-infos {
        max-width: 270px;
      }
      .don-infos {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        overflow-wrap: anywhere;
        .don-details {
          line-height: 190%;
        }
        p {
          overflow-wrap: anywhere;
          font-size: 13px;
        }
        .don-matiere {
          padding: 2px 4px;
          background:#6ff46f85;
        }
        .don-adresse {
          padding: 2px 4px;
          background: #f98f6685;
        }
        .nom-donneur {
          padding: 2px 4px;
          background: #f9e96685;
          text-transform: uppercase;
        }
        .don-non-pourvu {
          padding: 2px 4px;
          background: #fb652c;
          color: white;
        }
        .description-don {
          font-style: italic;
          text-align: center;
          padding: 5px 0;
          font-size: 14px;
          overflow-wrap: anywhere;
        }
        .don-depasse {
          background: rgba(20, 20, 20, 0.2) !important;
          color: black !important;
        }
        a , .don-depasse {
          text-align: center;
          padding: 0 10px;
          border: solid 1px #f79e9e;
          color: white;
          background: #f79e9e;
          border-radius: 15px;
          margin: 0 auto;
          width: max-content;
          transition: all 0.5s ease;
          &:hover {
            background: white;
            color: #f79e9e;
            transition: all 0.5s ease;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .all-dons-view .don-cards .dons-title p, .all-dons-view .don-cards .dons-title a {
    font-size: 12px;
  }

}
