.footer {
  background: #6B7272;
  color: white;
  padding: 50px;
  margin: 65px 0 0 0;
  // width: 100vw;
  .compo-footer-dropdown {
    font-size: 12px;
    font-weight: lighter;
  }
  .compo-footer {
  color: black;
  }
}



.text-bloc {
  display: flex;
  justify-content: space-around;
  .footer__links h2 {
    font-family: $headers-font;
    font-size: 14px;
  }
}


.footer a:hover {
  background: 0;
}

.footer .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer__social {
  margin-top: var(--space-s);
}

.footer__social li {
  display: inline;
  margin-right: var(--space-s);
}

.footer__social .icon {
  width: 35px;
  height: 35px;
  fill: white;
}

.footer__links {
  margin: 0;
  line-height: var(--space-l);
}

.footer__links h2 {
  margin-top: 0;
  margin-bottom: var(--space-xs);
}

.footer__links a {
  color: white;
  text-decoration: none;
  font-family: $body-font;
  font-size: 12px;
  font-weight: lighter;
}

.footer__links a:hover {
  background: var(--darker-grey);
}



.footer__logo {
  text-align: center;
  img {
    max-height: 60px;
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .footer {
    margin: 90px 0 0 0;
  }
  .text-bloc {
    flex-direction: column;
    align-items: center;
  }

  .footer__links {
    /* margin: 0; */
    margin: 10px 0 0 0;
    text-align: center;
  }
}

@media (--smaller-than-desktop) {
  .footer .container {
    flex-direction: column;
  }
}

.footer-reseaux {
  display: flex;
  align-items: center;
}
.footer-reseaux a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-reseaux a:hover {
  opacity: 1;
}
