// scss for  search users in composteur show
.search-add-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 0 20px 0;
  border-radius: 10px;
  #collapseOne #query {
    width: 75% !important;
  }
  form {
    display: flex;
    justify-content: space-between;
  }
  .user-list-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    border-bottom: solid 1px #fbab55;
    .add-user-btn {
      background: #56c37b;
      padding: 0 4px;
      border-radius: 50%;
    }
  }
}
.card-body form {
  display: block;
}
// scss for don contact form
.dropdown-form {
  margin: auto;
  .don-form-size-padd {
    padding: 15px;
    width: 260px;
    left: -75px !important;
    transition: all 1s ease;
    h5 {
      margin: 20px 0;
    }
    .center-form-submit {
      width: 100%;
      text-align: center;
      .don-form-btn {
        border: none;
        background: #21a9fab0;
        color: white;
        padding: 5px 10px;
        margin: auto;
        box-shadow: 0 0 10px rgba(20, 20, 20, 0.2);
      }
    }
    &:hover {
      color: black;
      background: white;
    }
  }
}



.form-control-label {
  display: none;

}

.formline-between {
  display: flex;
  justify-content: space-between;
}

.form-group.radio_buttons {
  display: flex;
  justify-content: space-between;
}
.user_ok_phone, .user_ok_mail {
  justify-content: space-around !important;
}
.demande_address {
  display: flex;
  justify-content: center !important;
}


.demande-compo-form {
  background: white;
  padding: 10px;
  margin: 60px 15px 5px 15px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -10px 10px rgba(20, 20, 20, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin-bottom: 30px;
    text-align: center;
  }
  .formline-between {
    margin: 20px 0;
    .form-group {
      width: 49%;
      margin: 0;
    }
  }
  .form-group {
    margin: 15px 0;
  }
  .demande_photo {
    display: flex;
    label {
      width: 90%;
    }
  }
  .bouton-valid {
    border: solid 1px $green;
  }
  .submit-formline-center {
    text-align: center;
    margin: 20px 0 0 0;
  }
}

.demande-form-line {
  position: relative;
  width: 115%;
  height: 2px;
  top: 46px;
  box-shadow: 0 -6px 7px rgba(20, 20, 20, 0.4);
}

.form-actions {
  text-align: center;
}

@media (max-width: 600px) {
  .edit-user-left {
    display: none;
  }
  .edit-user-form {
    width: 90% !important;
    h2 {
      font-size: 28px;
      padding: 0 0 15px 0;
    }
    .text-rouge {
      margin: auto;
    }
  }
  .dropdown-form .don-form-size-padd {
    left: -25px !important;
  }
}
