
#carto {
  display: flex;
  justify-content: center;
  padding: 75px 0 0 0;
  flex-direction: column;
  max-width: 100vw;
  align-items: center;
  #geocoder {
    margin: 0 0 20px 0;
    width: 50%;
  }
  #map {
    width: 1000px;
    height: 600px;
    position: sticky;
    top: 0;
  }
}



.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  width: 100% !important;
  max-width: 100% !important;
}


.mapboxgl-popup {
  max-width: 500px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.meal-pic img {
  max-width: 200px;
  overflow: hidden;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-content p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mapboxgl-popup .button a {
decoration: none;
color: white !important;
}

.marker {
  background-image: url('PB_logo.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 600px) {
  #carto {
    padding: 135px 0 0 0;
    #map {
      width: 300px;
      .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
        margin: 0;
        position: relative;
      }
    }
    #geocoder {
      width: 80%;
    }
  }
}

