.poubelles-title {
  display: flex;
  h1 {
    font-size: 30px;
    padding-left: 6px;
    color: #502703;
    text-decoration: none;
    font-family: 'Bangers', cursive;
    text-shadow: yellow 1px 1px 2px;
    letter-spacing: 1px;
    transform: rotate(-5deg);
    margin: 0;
    transition: all 0.4s ease-out;
  }
  &:hover {
    h1 {
      color: #502703;
      text-decoration: none;
      text-shadow: yellow 2px 5px 10px;
      transition: all 0.3s ease-in;
    }
  }
}


a:hover {
  text-decoration:none;
}

.home-link {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  position: relative;
  bottom: -5px;
  z-index: 10;
}


.dropdown-toggle {
  margin-top: 5px;
}


.border-none {
  border: none;
}

.navbar-poub-bat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 65px;
  padding: 20px;
  position: fixed;
  z-index: 10;
  top: 0px;
  background: white;
  box-shadow: 0 0 10px gray;
}

.all-the-buttons {
  display: flex;
  justify-content: space-between;
}

.bouton-navbar {
  color: #408A4E;
  text-decoration: none;
  border: solid 1px #408A4E;
  background: white;
  margin: 0 20px;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 15px;
  height: max-content;
  transition: all 0.3s ease-in;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: #408A4E;
    transition: all 0.3s ease-in;
  }
}


.green-nav {
  // color: #408A4E;
  // border: solid 1px #408A4E;
  // padding: 4px 15px;
  border-radius: 15px;
  margin: 0 0 0 20px;
  background: white;
  &:hover {
    color: white;
    background: #408A4E;
    transition: all 0.3s ease-in;
  }
}



.dropdown-menu.show {
  border-radius: 15px;
  margin-top: 8px;
  &:hover {
    color: #408A4E;
    background: white;
  }
}

/* application-9d49c3d376178b61cf3a29d50a12b13b47f0e17fc57d431a8a595d14918365a7.css | http://localhost:3000/assets/application-9d49c3d376178b61cf3a29d50a12b13b47f0e17fc57d431a8a595d14918365a7.css */

.poubelles-title {
  /* transform: rotate(-3deg); */
}


