.poubelles-title {
  display: flex;
  h1 {
    font-size: 30px;
    // padding-left: 6px;
    color: $pau-blue;
    text-decoration: none;
    font-family: $pau-display;
    // text-shadow: $yellow-pb 1px 1px 2px;
    // letter-spacing: 1px;
    // transform: rotate(-5deg);
    margin: 0;
    transition: all 0.5s ease;
  }
  &:hover {
    h1 {
      // color: $pau-light-blue;
      text-decoration: none;
      // text-shadow: $yellow-pb 2px 5px 10px;
      transition: all 0.8s ease;
    }
  }
}
#logo-voisins-de-compost {
  background-image: url('voisins-desktop.png');
  width:  295px;
  height: 39px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 17px;
}

@media (max-width: 1024px) {
  #logo-voisins-de-compost {
    background-image: url('voisins-mobile.png');
    height: 39px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 110px;
  }
  .navbar-poub-bat .home-link {
    width: 110px;
    height: 39px;
  }
}
@media (max-width: 760px) {
  #logo-voisins-de-compost {
    background-image: url('voisins-mobile.png');
    height: 50px;
    width: 140px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 14px;
  }
  .navbar-poub-bat .home-link {
    height: 50px;
    width: 140px;
  }
  .navbar-poub-bat .navbar-poub-bat-left {
    padding-top: 10px;
  }
}


a:hover {
  text-decoration:none;
}

.home-link {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  position: relative;
  z-index: 10;
  width: 125px;
  margin-right: 20px;
}


.dropdown-toggle {
  margin-top: 5px;
}


.border-none {
  border: none;
}

.navbar-poub-bat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  padding: 20px;
  position: fixed;
  z-index: 100;
  top: 0px;
  background: $pau-blue;
  color: white;
  .navbar-poub-bat-left {
    display: flex;
    align-items: center;
  }
  .home-link {
    text-align: center;
  }
  h1 {
    color: white;
    font-family: $pau-display;
  }
  .admin-navbar-name {
    h5 {
      margin: 0;
    }
  }
  .nav-space-btw {
    margin: 0 10px;
  }
}

.all-the-buttons {
  display: flex;
  justify-content: space-around;
}

.dropdown {
  list-style: none;
}


.dropdown-menu.show {
  border-radius: 15px;
  margin-top: 8px;
  &:hover {
    color: #408A4E;
    background: white;
  }
}

// MEDIA QUERIES
@media (max-width: 1000px) {
  .navbar-poub-bat {
    width: 100vw;
  }
}
@media (max-width: 600px) {
  .navbar-poub-bat {
    height: 100px;
    padding: 0 20px 20px 20px;
    flex-direction: column;
    h1 {
      font-size: 27px;
    }
  }
  .dropdown-menu.dropdown-menu-right.show {
    width: 320px;
    left: -5px !important;
  }
  .dropdown {
    font-size: 12px;
  }
  .dropdown-item {
    font-size: 12px;
  }
  .avatar {
    display: none;
  }
}



