.logo {
  width: 150px;
}

.dropdown {
  margin-bottom: 8px;
}

.dropdown-toggle {
  margin-top: 5px;
}

.avatar {
  margin-left: 10px;
  width: 60px;
}

.border-none {
  border: none;
}

.navbar-poub-bat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 120px;
  padding: 20px;
}

.all-the-buttons {
  display: flex;
  justify-content: space-between;
}

.bouton-navbar {
  color: #408A4E;
  text-decoration: none;
  border: solid 1px #408A4E;
  background: white;
  margin: 0 20px;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 15px;
  height: max-content;
  transition: all 0.3s ease-in;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: #408A4E;
    transition: all 0.3s ease-in;
  }
}

.poubelles-title {
  font-size: 25px;
  padding-left: 10px;
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.home-link {
  display: flex;
  width: 250px;
  align-items: center;
}


