.message-board {
  width: 90%;
}

.notification-card {
  width: 100%;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: right;
  .notif-since {
    font-size: 10px;
    font-style: italic;
  }
  .notif-subtexts{
    display: flex;
    font-size: 10px;
    align-items: center;
    .notif-signaler-contenu {
      .form-group.string.required {
        margin: 0;
      }
      input {
        border: none;
        background: transparent;
        color: grey;
      }
    }
  }
  .notif-content {
    p {
      text-align: left;
    }
  }
}

.notification-card-current-user {
  align-items: flex-end;
}

.notification-card-admin {
  background: white;
  border: solid 1px red;
  flex-direction: column;
  text-align: center;
  .notif-since {
    margin-top: 10px;
    font-size: 15px;
    font-style: italic;
  }
}

.notif-admin-view {
  width: auto;
}

.welcome {
  background: #aff4336b;
}

.depot {
  background: #56c37b;
}

.anomalie {
  background: #f0b7b7;
}

.notification-card-current-user.direct {
  background: #8afab0;
}

.message-form {
  width: 100%;
  padding: 0 45px;
}

.message {
  background: beige;
}

.message-ref {
  background: white;
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  p {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    margin: 0;
  }
}


.message-form-ref {
  width: auto;
  border: none;
  padding: 5px 15px;
  border-radius: 20px;
}

.message-admin {
  background: antiquewhite;
  border: solid 2px #7ff76e;
}

textarea#notification_content {
  height: 150px;
}


.message-form-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .notification_content {
    width: 90%;
  }
}


.notif-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .notification-admin-line {
    opacity: 0;
    transition: opacity .3s ease;
  }
  &:hover {
    .notification-admin-line {
      opacity: 1;
      transition: opacity .5s ease;
    }
  }
  .notif-with-name {
    width: 75%;
    .notif-username {
      font-size: 10px;
    }
    .name-left {
      text-align: left;
    }
    .name-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .resolving-btn {
        border-radius: 10px;
        padding: 2px 5px;
        // margin: 0 5px;
        background: black;
        color: white;
        a {
          color: #f0b7b7;
        }
      }
    }
  }
}

.notif-filler {
  flex-grow: 1;
  height: 50px;
  width: 50px;
}

#notification_content {
  border-radius: 5px;
}

.signaler.message {
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px darkgray;
  margin-bottom: 20px;
}


.demande-view {
  width: 60%;
  height: max-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  margin: 0 0 100px 0;
  .demande-btns {
    margin-top: 20px;
    display: flex;
    width: 60%;
    justify-content: space-around;
    a {
      padding: 5px 10px;
      border-radius: 20px;
      width: max-content;
    }
  }
}

@media (max-width: 1024px) {
  .notif-block .notification-admin-line {
    opacity: 1;
  }
}
