.section-grey {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $pau-dark-blue;
  color: white;
  padding: 30px 0;
  .section-title {
    width: 40%;
    text-align: center;
    margin: 30px 0 20px 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-weight: bold;
  }
  .how-to-paragraphs {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0;
    p {
      width: 50%;
      text-align: center;
      margin: 30px 30px 20px 30px;
    }
  }
}

  .section-grey-demande {
    padding: 30px 20px;
    text-align: center;
    background-color: $pau-dark-blue;
    margin-top: 20px;
    color: white;
    h5 {
      font-size: 18px;
    }
  }

@media (max-width: 1000px) {
  .section-grey {
    // margin-bottom: -75px;
    .section-title {
      width: 80%;
      font-size: 23px;
    }
    .how-to-paragraphs {
      justify-content: center;
      width: 100%;
      align-items: center;
      font-size: 15px;
      p {
        width: 80%;
      }
    }
  }
}
@media (max-width: 600px) {
  .section-grey {
    margin-bottom: 0;
    padding: 30px 0 10px 0;
  }
  .how-to-paragraphs {
    flex-direction: column;
  }
  .how-to-paragraphs p {
    margin: 20px 0;
    width: 90%;
  }
}

// dont' know what this is ↓








.section {
  margin-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: white;
}

.section-produit {
  padding-left: 100px;
  padding-top: 20px;
  background-color: $light-gray;
}

.element-text {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 125px;
}

.text-p {
  height: 100px;
  width: 300px;
  font-weight: lighter;
  color: $gray;
  font-size: 14px;
}

.section__title {
  margin-bottom: -5.25rem;
  text-align: center;
  font-family: $body-font;
  font-size: 22px;
  font-weight: bold;
  width: 860px;
  // margin-left: 152px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
  margin: 100px 0px 0px 100px;
}


.how {
  position: absolute;
  left: 680px;
  bottom: -564px;
  text-decoration: none;
  font-size: 14px;
  color: $gray;
}

a {
  text-decoration: none;
  color: $gray;
  }
