
/* Feuille de style intégrée #8 | http://localhost:3000/stats */

.stat-flex-container {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stat-card {
  width: 40%;
  min-width: 260px;
  height: 280px;
  background: white;
  box-shadow: 0 0 10px rgba(50, 50, 50, 0.3);
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  .stat-number, .stat-title {
    display: flex;
    align-items: center;
  }
  .stat-number {
    font-size: 50px;
    height: 60%;
  }
  .stat-title {
    text-align: center;
    height: 30%;
  }
}

.stat-graph {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: 0 0 5px rgba(20, 20, 20, 0.1);
  padding: 20px;
  margin: 20px 0;
  .stat-graph-title {
    text-align: center;
  }
  .stat-graph-chart {
    width: 80%;
  }
}
.doughnut {
  width: 50% !important;
}
