.bouton-valid {
  color: #1EDD88;
  background: white;
  text-decoration: none;
  border: solid 1px #1EDD88;
  margin: 0 20px;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 15px;
  height: max-content;
  transition: background 0.3s ease;
  &:hover {
    color: white;
    background: #1EDD88;
    text-decoration: none;
    transition: background 0.3s ease;
  }
}

input.bouton-valid {
  border: none;
  padding: 8px 24px;
}

.rouge {
  background: red;
  &:hover {
    background: red;
  }
}

.compost {
  background: #ff8f00;
  &:hover {
    background: #ff8f00;
  }
}



