.bouton-valid {
  color: white;
  padding: 9px 24px;
  border-radius: 4px;
  background: #1EDD88;
  opacity: 0.7;
  transition: background 0.3s ease;
  margin: 5px 15px;
  &:hover {
    opacity: 1;
    color: white;
    text-decoration: none;
    transition: background 0.3s ease;
  }
}

input.bouton-valid {
  border: none;
  padding: 8px 24px;
}

.rouge {
  background: red;
  &:hover {
    background: red;
  }
}

.compost {
  background: #ff8f00;
  &:hover {
    background: #ff8f00;
  }
}
