<h5>Bonjour <%= @demande.first_name %>,</h5>
<p>Votre demande de site de compostage a été validée !</p>
<p>Son installation est prévue pour le <%= @demande.planification_date.strftime("%d/%m") %> et se fera à l'adresse : <%= @demande.potential_address %></p>
<p>Nous vous recontacterons prochainement pour vous communiquer plus d'informations ainsi que la page Poubelles Battle sur laquelle vous pourrez interagir avec tous les utilisateurs de ce nouveau site !</p>
<p>Si vous souhaitez devenir référent de ce site, vous aurez la possibilité d'en faire la demande dans les prochains jours.</p>
<p>Compostement votre,</p>
<p>L'Equipe de Poubelles Battle</p>
