<h5>Bonjour <%= @demande.first_name %>,</h5>
<p>Après étude de votre demande, nous ne pourrons malheureusement pas valider l'installation d'un site de compostage à cette adresse.</p>
<p>La raison est surement qu'un site de compostage se trouve déjà à proximité du <%= @demande.address %></p>
<p>N'hésitez pas à aller regarder sur <%= link_to "la carte des composteurs", root_url(anchor: "carto") %> pour localiser ce site de compostage proche de chez vous.</p>
<p>Compostement votre,</p>
<p>L'Équipe Poubelles Battle</p>
