<p>Bonjour <%= @resource.email %>!</p>

<p>Vous venez de nous demander un nouveau mot de passe. L'opération est possible en cliquant sur le lien suivant.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas la personne qui a demandé un nouveau mot de passe, merci de n'ignorer ce mail.</p>
<p>Votre mot de passe ne changera que si vous cliquez sur le lien au dessus et en créez un nouveau.</p>

<p>L'Equipe des Voisins de Compost</p>
